.flex-container {
    display: flex;
    flex-direction: row;
  }

#game-screen {
  border-width: 200px; 
}

.in-container {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  font-family: 'Ruslan Display', cursive;
}

.title-class {
  font-size: 150%;
  font-family: 'Ruslan Display', cursive;
  padding-right: 50%;
  padding-left: 50%;
  padding-bottom: 0px;
  text-align: auto;
}

.controls-image {
  width: 10%;
  height: 10%;
}

.padding {
  padding-right: 300px;
  padding-left: 150px;
}
